{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<div>
    <div class="container">
        <div class="row">
        {% for cat in cats %}
        <div class="col-md-4 col-sm-12">
                <div class="cat_form">
                    <img class="cat_img" src="{{cat.img}}">
                    <br>
                    <div class="cat_info">
                        <p><strong>Имя кота: </strong>{{cat.name}}</p>
                        <p><strong>Сколько лет:  </strong>{{cat.years}}</p>
                        <p><strong>Порода:  </strong>{{cat.breed}}</p>
                        <a href="../edit/{{cat.id}}" class="btn btn-primary">Редактировать</a>
                        <a href='delete/{{cat.id}}' class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}