<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <title>Calculator</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/culc.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{% static 'js/culc.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-4">
        <br>
        <a class="badge btn-success" href="{% url 'blogapp:home' %}">Вернуться назад</a>
        <br>
        <p>Калькулятор на jQuery</p>
    </div>
    <div class="col-md-2">
        <div id='calc_wrap'>
            <div id='calc'>
                <p class='textArea' id='calculations'></p>
                <input type='text' class='textArea' id='calc_value' value="">
            </div>
        </div>
    </div>
</div>
</body>
</html>