{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-4"></div>
    <div class="col-sm-12 col-md-4">
<form method="post" id="reg_form">
    <h2>Sign up!</h2>
    {% csrf_token %}
    {% for field in form %}  <!--цикл, чтобы убрать text_help -->
    {{field.label}}
    <p>{{field}}</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary my_btns">Send</button>
    <br>
    <br>
    <h6>Уже зарегестрирован?</h6>
    <a class="btn btn-success my_btns" href="{% url  'blogapp:login'%}">Log In</a>
</form>
</div>
</div>

{% endblock %}