/* Верстка шапки */
#contacts {
    background-image: url('../images/code.png');
    color: white;
    background-size: 100%;
    padding-bottom: 30px;
}

#my_name{
    font-family: 'Russo One', sans-serif;
    font-size: 70px;
}

#my_speech{
    font-size: 20px;
}

#my_name, #my_prof, #my_speech, #footer{
    text-align: center;
}

#addCatForm{
    display: none;
}

#dropmenu{
    display: inline;
}

#bot_img{
    width: 60%;
    margin-top: 5px;
    margin-left: 20%;
}
/* лучший класс во всем проекте */
.divCenter{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}


/* делаем цвет для каждой иконки соц.сетец */
.social {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    margin: 3px;
    text-align: center;
    color: white;
    text-decoration: none;

}
#social_icons{
    text-align: center;
}

#instagram {
   border: 4px solid #e0515f;
}
#instagram:hover, #vk:hover, #github:hover, #telegram:hover, #facebook:hover {
    background-color: white;
    color: black;
    text-decoration: none;

}

#vk {
    border: 4px solid #2d81c9;
}


#github {
    border: 4px solid #3e77bf;
}

#telegram {
    border: 4px solid #61a8de
}

#facebook {
    border: 4px solid #475893;
}

/* форма регистрации и форма ошибки */
#reg_form, #error_form, .cat_form, .fb_form{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

.fb_form{
    min-height:450px;
}

.fb_formItem{
    padding-left:5px;
}

#fb_btn{
    float:left;
    margin-left: 35%;
}

.cat_form{
    min-height: 405px;
    box-shadow: 40px 30px 30px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
}

#reg_form{
    padding: 20px;
    padding-left: 26%;
}

#error_form{
    padding:20px;
    text-align: center;
}

.my_btns{
    width: 100px;
}



/*Редактируем формы котов*/
.cat_img{
    max-width: 250px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}
.cat_info{
    padding-left: 20px;
    padding-bottom: 20px;
}

/* Основной контент */
#find_job {
    font-size: 30px;
}

#aboutMyjob{
    margin-top: 20px;
    border-bottom-style: ridge;
}

/* Обратная связь */

#feedback{
    background: url('../images/black_fon.jpg');
    opacity: 0.9;
    z-index:1;
    color:white
}

.inputForm{
    border: none;
    background-color: transparent;
    border-bottom-style: ridge;
}


#message {
    size: 50px;
}

/* Оформление резюме */
#resume {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-bottom-style: ridge;
}

#my_photo{
    width: 100%;
}

#main_resume p{
    margin-bottom: 0em;
}
